:root {
	--background-color: #F9F9FA;
	--foreground-color: #333333;
	--highlight: white;
	--font-family: Helvetica, sans-serif;
}

div {	
	width: 70% !important;
}

body {
	text-align: center;
	margin: 0 auto;
	font: 14px var(--font-family);
	color: var(--foreground-color);
	background-color: var(--background-color);
	width: 620px;
	max-width: 100%;
}

::selection {
	background-color: var(--highlight);
	color: white;
}

header {
	font-size: 2rem;
	margin-top: 3rem;
}

header h1 {
	margin-bottom: 1rem;
}

h5 {
	font-size: 1rem;
	margin-bottom: 0;
	border-bottom: 1px dashed orange;
	display: inline-block;
}

/* ** SECTION ** */
section {
  display: block;
  text-align: center;
  margin: 2.5rem auto;
  padding-left: 5rem;
  padding-right: 5rem;

}

a {
  text-align:left;
}

section summary {
	display: flex;
	justify-content:center;
	margin-right: 3rem;
}

section summary aside {
	display: flex;
	align-items: center;
	width: 4rem;
	padding-left: 1.5rem;
	padding-right: 1.5rem;
}
/****************/

/* ** FOOTER ** */
footer { 
	text-align: right;
}

footer a i {
	font-size: 1.5rem;
}
/****************/

a {
  color: var(--foreground-color);
  text-decoration: none;
}

a:hover {
  color: var(--highlight);
  text-decoration: none;
}

a.twitter:hover {
	color: #1DA1F3;
}

a.linkedin:hover {
	color: #0077B5;
}

i {
	font-size: 2rem;
}
