:root {
	--background-color: #F9F9FA;
	--foreground-color: #ffffff;
	--highlight: rgb(71, 87, 233);
	--font-family: Helvetica, sans-serif;
}

body {
	text-align: center;
	margin: 0 auto;
	font: 14px var(--font-family);
	background-color: var(--background-color);
	width: 620px;
	max-width: 100%;
}

::selection {
	background-color: var(--highlight);
	color: white;
}

header {
	font-size: 2rem;
	margin-top: 3rem;
}

header h1 {
	margin-bottom: 1rem;
}

h5 {
	font-size: 1rem;
	margin-bottom: 0;
	border-bottom: 1px dashed white;
	display: inline-block;
}

/* ** SECTION ** */
section {
  display: block;
  text-align: left;
  margin: 2.5rem auto;
  padding-left: 14rem;
  padding-right: 8rem;

}

section summary {
	display: flex;
	justify-content:left;
	margin-right: 3rem;
}

summary:hover {
	cursor: unset !important;
}

section summary aside {
	display: flex;
	align-items: center;
	width: 6rem;
	padding-left: 0.5rem;
	padding-right: 1.5rem;
	align-items: start;
}
/****************/

/* ** FOOTER ** */
footer { 
	text-align: right;
}

footer a i {
	font-size: 1.5rem;
}
/****************/

a {
  color: var(--foreground-color) !important;
  text-decoration: none;
  text-align:left;
}

a:hover {
  color: var(--highlight) !important;
  text-decoration: none;
}

a.github:hover {
	color: #1DA1F3 !important;
}

a.linkedin:hover {
	color: #0077B5 !important;
}

i {
	font-size: 2rem;
}

.icon-header {
	width: 100%;
}
